.App {
  align-items: center;
  background-color: #3E5C76;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  width: 100%;
}

.button-primary {
  background-color: #748CAB;
  border-radius: 0.5rem;
  border: 2px solid #0D1321;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin: 1rem;
  padding: 0.5rem;
}
